<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
body{
    border: 2px solid black;
    padding: 20px 30px 30px 20px;
}

    </style>
</head>

<body>
 
 
 <img src="~/imagenes/perufailcom" height="150" width="120" />
  
 <h1>PERU FAILS</h1>

<div class="text-center">
    <h1 class="display-4">PERU FAILS</h1>
    <br><br><br>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Pagina principal</button>
  <button type="button" class="btn btn-primary">Subir fail</button>
  <button type="button" class="btn btn-primary">Crear Cuenta</button>
  <button type="button" class="btn btn-primary">Iniciar Sesión</button>
</div>
 

</body>

</html>

